/* BODY */
body {
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

/* SIDEBAR */

.sidebar{
    border:2px solid grey;
    width:18.75rem;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    padding:1.1rem 0;
    overflow-y:auto;
    background-color:#1f1f1f;
}

.sidebar ul{
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}

.sidebar a{
    text-decoration:none;
}

/* LOGO */

.sidebar img{
    width:7rem;
}

/* BOTONES SIDEBAR */

.btn-sidebar{
    background-color:#2D8CF0;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    width:200px;
    transition:background 0.3s;
}

.btn-sidebar:hover{
    background-color:#1f6fc7;
}

/* CONTENIDO PRINCIPAL */

section, form{
    margin-left:18.75rem;
    padding:20px;
}

/* FORMULARIO */

form{
    display:flex;
    flex-direction:column;
    gap:15px;
    width:300px;
    background-color:#1f1f1f;
    padding:25px;
    border-radius:10px;
    margin: 50px auto;
}

/* INPUTS */

input,
textarea{
    padding:10px;
    background-color:#343538;
    color:white;
    border:1px solid #555;
    border-radius:5px;
}

textarea{
    background-color:#1d1e1e;
}

/* BOTON REGISTRAR */

input[type="submit"]{
    background-color:#2D8CF0;
    border:none;
    padding:12px;
    cursor:pointer;
}

input[type="submit"]:hover{
    background-color:#1f6fc7;
}

/* PLACEHOLDERS */

input::placeholder,
textarea::placeholder{
    color:#cccccc;
}

/* SCROLL SUAVE ENTRE SECCIONES */

html{
    scroll-behavior:smooth;
}
body{
    background:#282828;
    color:white;
    font-family:Arial;
}

h1{
    text-align:center;
}

table{
    width:80%;
    margin:auto;
    border-collapse:collapse;
    background:#1f1f1f;
}

th,td{
    border:1px solid #444;
    padding:10px;
    text-align:center;
}

th{
    background:#2D8CF0;
}

tr:nth-child(even){
    background:#2a2a2a;
}
/* ----- DASHBOARD ----- */

.dashboard-container{
    margin-left:18.75rem; /* espacio para la sidebar */
    padding:40px;
    color:white;
}

.dashboard-container h1{
    margin-bottom:30px;
}

/* tarjetas de estadísticas */

.stats{
    display:flex;
    gap:20px;
    margin-bottom:40px;
}

.card{
    background:#1f1f1f;
    padding:25px;
    border-radius:10px;
    width:200px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,0.4);
}

.card h3{
    margin-bottom:10px;
}

.card span{
    font-size:28px;
    font-weight:bold;
    color:#2D8CF0;
}

/* lista de pacientes */

.ultimos{
    background:#1f1f1f;
    padding:25px;
    border-radius:10px;
    width:400px;
}

.ultimos ul{
    list-style:none;
    padding:0;
}

.ultimos li{
    padding:8px 0;
    border-bottom:1px solid #444;
}